<h1>Privacy policy</h1>

<h2>Политика конфиденциальности</h2>
<ul>
	<li>Термин “личная информация”, используемый в настоящем документе, определяется как любая информация, которая идентифицирует или может использоваться для идентификации, связи или поиска человека, к которому такая информация относится. Личная информация, которую мы собираем, будет являться предметом настоящей политики конфиденциальности, с вносимыми время от времени поправками.
	<li>Мы запрашиваем Ваш адрес электронной почты, телефон, ФИО и адрес места жительства для формирования поиска по приложению.
	<li>Мы не продаем контент.
	<li>Регистрация пользователя необходима исключительно для идентификации.
	<li>Безопасность Вашей персональной информации не будет нарушена.
	<li>Мы не просим информацию о местоположении через наше мобильное приложение.
	<li>Мы не отправляем на электронную почту рассылку новостей.
	<li>Для хранения данных используется Google Firebase.
</ul>

<h2>Требуемые разрешения</h2>
<ul>
	<li>Доступ к звонкам используется для возможности перехода к набору номера из приложения.
	<li>Доступ к Интернету необходим для проверки корректности и обновления информации.
</ul>

<h2>Контакты<h2>
e-mail: <a href="mailto:irene.baks@gmail.com">irene.baks@gmail.com</a>
 
